.filters-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.filters {
  color: white;
}

.category-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.products-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-img {
  cursor: pointer;
  width: 400px;
  height: 600px;
}

.product-name {
  font-size: 20px;
}

.product-price {
  font-size: 30px;
}

/* -------------- productAbout */

.productAbout-container {
  display: flex;
  gap: 20px;
}

.productAboutInf-container {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.productAboutQuantity-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* media */ 

@media (max-width: 1400px) {

  .filters-container {
    flex-direction: column;
    gap: 10px;
  }

}

